* {
    padding:0px;
    margin:0px;
}

body{
    background-color: rgb(74, 25, 67);
}

h2{
    font-size: 4rem;
}

.navHomepage{
    color:white;
    font-size: 2rem;
    text-decoration: none;
    transition: color .5s ease-out;
    background-color: black;
    padding:10px;
    border-radius: 10px;
}

.navHomepage:hover{
    color:rgb(240, 84, 240);
    transition: color .5s ease-in;
}

textarea{
    background-color:  rgb(232, 108, 232);
    color:white;
    height:100px;
    font-size: 2rem;
}

input{
    background-color: rgb(232, 108, 232);
    color:white;
    height:50px;
    font-size: 2rem;
}

button{
    width: 100px;
    height:40px;
    font-size: 1.5rem;
}

div{
    margin:auto;
    width: 50%;
    color:white;
    text-align: center;
}